# dir
build/*
devel/*
!.placeholder

# tmp files
*.bak
*.log
*.old
*.swp
*.pyc
*~

# osx fix
.DS_Store

*/cfg/cpp


src/imu_filter_madgwick/cfg/cpp/
src/imu_filter_madgwick/src/imu_filter_madgwick/
#
