<launch>
  <node name="io_adc" pkg="io_adc" type="io_adc" output="screen" cwd="node" args="">
    <param name="sleep_time_ms" value="100"/>
    <param name="unipolar" type="bool" value="1"/>
    <param name="adc_mode" type="string" value="localGND"/>
    <rosparam command="load" file="temp_sensor_calibration_motor.yaml" />
  </node>
</launch>
